parameters:
    database_host: mysql-server
    database_port: null
    database_name: nasa
    database_user: root
    database_password: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    secret: cf233f176764566c86c773bde2b63354eca16ed1

    api.nasa.gov_api.key: N7LkblDsc5aen05FJqBQ8wU4qSdmsftwJagVK7UD
    api.nasa.gov_import.url: https://api.nasa.gov/neo/rest/v1/feed?start_date=##start##&end_date=##end##&detailed=false&api_key=##key##
    api.nasa.gov_days.to.import: 3
